.button {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    background-color: #4d5ae5;

}

button:hover {
    background-color: #404BBF;
    cursor: pointer;

}

.tel {
    color: #434455;
}

tel:hover {
    color: #404BBF;
}

.navigation {
    color: #434455;
    color: hover:#404BBF;
    color: focus:#404BBF;

}

body {
    font-family: Roboto,
        sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #434455;
    background-color: #FFFFFF;

}


title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    text-align: left;
}

h1 {

    font-family: Roboto;
    font-size: 56px;
    font-weight: bold;
    line-height: 60px;

}


h2 {

    font-family: Roboto;
    font-size: 36px;
    font-weight: bold;

}

h3 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: medium;
    line-height: 60px;

}

.links {

    font-family: Roboto;
    font-size: 12px;
    font-weight: regular;
    line-height: 16px;
}

.Web {
    color: #4D5AE5;
}

.logo {

    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17px;
    text-decoration: Underline letter-spacing: 0, 03em;
    color: #4d5ae5;
}

.Studio {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17px;
    text-decoration: Underline letter-spacing: 0, 03em;
    color: #2e2f42;
}
}